body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: linear-gradient(to bottom right, #ffd6e8, #ffe6f2);
  text-align: center;
  overflow: hidden;
}

.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hidden {
  display: none;
}

h1 {
  font-size: 3rem;
  color: #b3005e;
  margin-bottom: 10px;
}

p {
  font-size: 1.3rem;
  color: #660033;
  margin-bottom: 20px;
}

button {
  padding: 12px 25px;
  font-size: 1.2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 10px;
}

#yesBtn {
  background-color: #ff4d88;
  color: white;
}

#noBtn {
  background-color: #999;
  color: white;
  position: absolute;
}

button:hover {
  transform: scale(1.1);
}

.main-photo {
  width: 300px;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.meme {
  width: 250px;
  margin-top: 15px;
  border-radius: 15px;
}

#hearts-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.heart {
  position: absolute;
  font-size: 20px;
  animation: floatUp 4s linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-10vh) scale(1.5);
    opacity: 0;
  }
}

#star-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.star {
  position: absolute;
  font-size: 20px;
  animation: floatUp 4s linear infinite;
}

@keyframes floatStars {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-10vh) scale(1.5);
    opacity: 0;
  }
}

#final {
  background: linear-gradient(to bottom right, #ffb3d9, #ff66a3);
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.virtual-date {
  margin-top: 25px;
  font-size: 1.6rem;
  color: white;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}